
@media screen and (min-width: 992px) {

}

@media screen and (min-width: 576px) and (max-width: 992px) {
    
}



@media screen and (max-width: 576px) {

      #nav-ber .hamburger-menu{
        display: block;
        margin-top: 10px;
        font-size: 24px;
    }
    #nav-ber .menu-item ul{
        display: none;
    }

    #banner{
        grid-template-columns: 1fr;
    }
    .banner-content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .banner-content h1{
        font-size: 36px;
        font-weight: 900;
    }

    .dgn {
        line-height: 35px;
    }
    .banner-content .shape {
        font-size: 70px;
    }
    .banner-content p {
        width: 330px;
        letter-spacing: 1.5px;
        line-height: 1.5;
    }
    .btn{
        display: flex; 
    }
    .banner-content .btn-1 {
        display: none;
    }
    .banner-content .btn-hide {
        display: block;
        padding: 10px 64px;
    }
    
    .banner-content .btn-2 {
        padding: 10px 40px;
    }

    .banner-image img{
        margin-top: 50px;
        margin-left: 0px;
        height: 100%;
    }

    .banner-image .free-videos {
        width: 31%;
        height: 12%;
        top: 18%;
        left: 50%;
    }

    .banner-image .free-videos h2{
        font-size: 30px;
    }
    .banner-image .free-videos p {
        font-size: 10px;
    }

    .banner-image .videos-tutorial{
        width: 36%;
        height: 11%;
        top:55%;
        left: -10px;
        display: flex;
        gap: 5px;
    }

    .banner-image .videos-tutorial .circle .play {
        display: block;
        position: absolute;
        top: 23px;
        left: 32px;
    }
    .banner-image .videos-tutorial .circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-top: 6px;  
    }
    .banner-image .videos-tutorial h3{
        font-size: 20px;
    }
    
    .banner-image .videos-tutorial p{
        font-size: 13px;
    }
}