@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


*{
    margin: 0;
    padding: 0;
}


                                                

body{
    font-family: "Inter", sans-serif;
    background-color: rgb(29, 29, 29);
    color: #fff;
}


/* START HEADER SECTION STYLE */

header {
    max-width: 80%;
    margin: 0 auto;
   
}

#nav-ber{
    margin: 60px 0 10px 0;
    display: flex;
    justify-content: space-between;
}

#nav-ber .nav-title h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    color: rgb(230, 83, 60);
}

#nav-ber .menu-item ul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    border: 1px solid #494949;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 5px;
   
}

#nav-ber .menu-item ul li{
    list-style: none;
    
    
}

#nav-ber .menu-item ul li a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 45px;
}

#nav-ber .menu-item ul li a .nav-btn{
    font-size: 18px;
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 45px;

}
.hamburger-menu ul li {
    list-style: none;
}

.hamburger-menu ul li a {
    text-decoration: none;
    color: #dfd7d7;
}
.hamburger-menu{
    display: none;
}

#banner{
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
}

.banner-content {
    margin-top: 160px;
}
.dgn{
    position: relative;
}

.sty{
    margin-left: 230px;
}

.banner-content h1{
    font-size: 78px;
    font-weight: 900;
    
}
.banner-content .shape {
   font-family: 'Miama', sans-serif;
   font-size: 150px;
   font-weight: 400;
   position: absolute;
   top: 50px;
   
}

.banner-content p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
}

.banner-content .btn{
    margin-top: 30px;
}
.banner-content .btn li {
    list-style: none;
}

.banner-content .btn li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    
}

.banner-content .btn-1 {
    padding: 15px 30px;
    border: none;
    border-radius: 45px;
    background-color: rgb(230, 83, 60);
}

.banner-content .btn-hide{
    display: none;
    padding: 15px 30px;
    border: none;
    border-radius: 45px;
    background-color: rgb(230, 83, 60);
}

.banner-content .btn-2 {
    padding: 13px 30px;
    border: 2px solid #fff;
    border-radius: 45px;
    background-color: transparent;
    margin-left: 15px;
}

.banner-image{
    position: relative;
}

.banner-image img{
    margin-left: 300px;
    height: 122%;
}

.banner-image .free-videos {
    width: 170px;
    height: 90px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    position: absolute;
    top: 210px;
    left: 620px;
}

.banner-image .free-videos h2{
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}


.banner-image .free-videos p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
}

.banner-image .videos-tutorial{
    width: 200px;
    height: 80px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px 20px;
    position: absolute;
    top: 560px;
    left: 220px;
    display: flex;
    gap: 10px;
}

.banner-image .videos-tutorial .circle {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(230, 83, 60);
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    margin-top: 10px;
    
    
}

.banner-image .videos-tutorial h3{
    font-size: 24px;
    font-weight: 900;
    color: rgb(250, 250, 249);
}

.banner-image .videos-tutorial p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
}



/* END HEADER SECTION STYLE */
